.DS_Store
.metals
.vscode
install-ibp.yaml
*.bin
# ignore all JSON wallet identity files
wallet/
Wallet.zip
config/
connection-profiles/
spike*

# NOTE: uncomment in Production since vars/ contains secrets
# vars
vars/api.yaml
