.metals
.vscode
# ignore all JSON wallet identity files
*_identity.json
install-ibp.yaml
*.bin
Wallet/
Wallet.zip
spike*

# NOTE: uncomment in Production since vars/ contains secrets
# vars
vars/api.yaml
