.DS_Store
.metals
.vscode
install-crd.yaml
install-ibp.yaml
# ignore all JSON wallet identity files
wallet/
config/
connection-profiles/
channel-policies/
bulk-import/
bulk-import.zip
spike*

# NOTE: uncomment in Production since vars/ contains secrets
# vars
vars/api.yaml
